/* Resetando estilos básicos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #222;
    color: white;
}

/* Cabeçalho */
header {
    background-color: #1c1c1c;
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 40px;
    padding-right: 40px;
}

header .logo {
    display: flex;
    align-items: center;
}

header .logo-img {
    font-size: 40px;  /* Tamanho do ícone */
    color: #FF6600;  /* Cor do ícone */
    margin-right: 10px;
}

header h1 {
    font-size: 24px;
    color: #FF6600;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: #FF6600;
    font-weight: 600;
    font-size: 16px;
}

nav ul li a:hover {
    color: #fff;
}

/* Seção Home */
.home {
    background-color: #333;
    text-align: center;
    padding: 60px 20px;
}

.home .content h2 {
    font-size: 40px;
    color: #FF6600;
    margin-bottom: 20px;
}

.home .content p {
    font-size: 18px;
    color: #aaa;
    margin-bottom: 30px;
}

.home .content .btn {
    background-color: #FF6600;
    color: white;
    padding: 12px 30px;
    border-radius: 4px;
    text-decoration: none;
    font-size: 18px;
}

.home .content .btn:hover {
    background-color: #e55b00;
}

/* Rodapé */
footer {
    background-color: #1c1c1c;
    color: white;
    text-align: center;
    padding: 10px;
}

footer p {
    font-size: 14px;
}
